@import url('https://fonts.googleapis.com/css?family=Patrick+Hand|Nothing+You+Could+Do|Hind:300,400,500,600');
html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font: normal 400 16px 'Hind', sans-serif;
  color: #494F56;
}
button {
  font: normal 400 16px 'Hind', sans-serif;
}
ul {
  list-style: none;
  padding-left: 0;
}
li {
  text-align: center;
}
h1 {
  font-size: 60px;
  line-height: 50px;
  letter-spacing: 2px;
  color: #CC9F74;
  margin: 0 0 15px;
  font-family: 'Patrick Hand', sans-serif;
}
h2 {
  font-size: 30px;
  font-family: 'Patrick Hand', sans-serif;
  color: #B57A42;
}
h3 {
  font-size: 16px;
  line-height: 22px;
  color: white;
  font-family: 'Nothing You Could Do', sans-serif;
  width: 275px;
  height: 20px;
  margin: 0 auto;
  font-weight: 400;
  border-left: 2px solid white;
  border-right: 2px solid white;
}
h4 {
  font-size: 20px;
  margin-bottom: 0;
}
p {
  margin-bottom: 35px;
}
strong {
  font-size: 18px;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
:focus {
  outline: none;
}
#banner {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
#overlay {
  width: 100%;
  height: 100%;
  background: rgba(62, 41, 22, 0.75);
}
#header {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  margin: 0;
  width: 100%;
}
#globe {
  display: block;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.15);
}
#listBtn {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  padding: 5px 25px;
  font-weight: 600;
  transition: all 0.3s ease-out;
}
#listBtn:hover {
  background-color: #CC9F74;
  color: white;
  padding: 5px 35px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
#main {
  display: none;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 100px;
  text-align: center;
}
#countryList {
  display: none;
  column-count: 1;
}
#countryTipData {
  display: none;
  text-align: center;
}
#dining,
#transportation,
#accommodation,
#currency,
#thankyou,
#goodbye {
  position: relative;
  margin: 20px auto;
}
#dining:before,
#transportation:before,
#accommodation:before,
#currency:before,
#thankyou:before,
#goodbye:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50%;
  height: 1px;
  border-bottom: 2px solid #B57A42;
}
#dining,
#currency {
  width: 100px;
}
#transportation,
#accommodation {
  width: 200px;
}
#thankyou {
  width: 140px;
}
#goodbye {
  width: 125px;
}
.country {
  font-size: 18px;
  color: #494F56;
  padding: 2px 20px 0px;
  background-color: transparent;
  border: none;
  border-left: 2px solid transparent;
  transition: all 0.3s ease-out;
}
.country:hover {
  border-left-color: #B57A42;
  color: #B57A42;
  padding-left: 30px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.fa {
  font-size: 50px;
}
#footer {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 500;
  background-color: #B57A42;
  box-shadow: 0 0 5px 2px rgba(214, 214, 214, 0.75);
  text-align: center;
  transition: all 0.3s ease-out;
}
#footer h4 {
  height: 50px;
  line-height: 50px;
  margin: 0;
  color: white;
}
#footer:hover {
  background-color: #494F56;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
#header.headerTop {
  position: relative;
  top: 0;
  transform: translate(0, 0);
  margin: 0 0 50px 0;
  padding: 25px 0 0 0;
}
.secondaryColor {
  color: #B57A42;
}
.primaryColor {
  color: #494F56;
}
h3.primaryColor {
  border-left: 2px solid #494F56;
  border-right: 2px solid #494F56;
}
#globe.primaryColor {
  color: rgba(73, 79, 86, 0.15);
}
#listBtn.primaryColor {
  color: #494F56;
  border-color: #494F56;
}
#listBtn.primaryColor:hover {
  color: white;
  background-color: #494F56;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeOutHalf {
  -webkit-animation-name: fadeOutHalf;
  animation-name: fadeOutHalf;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeOutHalf {
  from {
    opacity: 1;
  }
  to {
    opacity: .1;
  }
}
.fadeInHalf {
  -webkit-animation-name: fadeInHalf;
  animation-name: fadeInHalf;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeInHalf {
  from {
    opacity: .1;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 500px) {
  h1 {
    font-size: 90px;
    line-height: 75px;
    margin: 0 0 15px;
  }
  h2 {
    font-size: 54px;
  }
  h3 {
    font-size: 24px;
    line-height: 30px;
    width: 400px;
    height: 28px;
    margin: 0 auto;
  }
  #globe {
    font-size: 50px;
  }
  #main {
    min-width: 400px;
  }
  #countryTipData {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 120px;
    line-height: 100px;
    margin: 0 0 30px;
  }
  h3 {
    font-size: 32px;
    line-height: 38px;
    width: 525px;
    height: 36px;
  }
  #countryList {
    column-count: 2;
  }
  #countryTipData {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  #countryList {
    column-count: 3;
  }
  #countryTipData {
    width: 50%;
  }
}
#calculatorBackground {
  z-index: 900;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  min-height: 100%;
}
#calculatorMain {
  z-index: 1000;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  background: radial-gradient(#515A60, #3E4348);
  width: 100%;
  max-width: 450px;
  min-height: 100%;
  margin: 0 auto;
  color: white;
}
#calculatorMain #number {
  text-align: right;
  height: 50px;
  font-size: 50px;
  line-height: 50px;
  background-color: black;
  padding: 25px 50px 5px;
}
#calculatorMain .row {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
}
#calculatorMain .percent,
#calculatorMain .digit {
  color: white;
  cursor: pointer;
  padding: 0;
}
#calculatorMain .digit:hover,
#calculatorMain #closeCalcApp,
#calculatorMain #clear {
  background: linear-gradient(45deg, #42B550, #2D7B36);
}
#calculatorMain .percent:hover,
#calculatorMain #closeCalcApp:hover,
#calculatorMain #clear:hover {
  background: #42B550;
}
#calculatorMain .percent {
  border-radius: 5px;
  border: none;
  background: linear-gradient(45deg, #42B550, #2D7B36);
  width: 25%;
  height: 50px;
  margin: 5px;
  font-size: 20px;
}
#calculatorMain .digit {
  border-radius: 50%;
  border: 2px solid black;
  background: transparent;
  width: 65px;
  height: 65px;
  margin: 5px;
  font-size: 30px;
}
#calculatorMain .keypad {
  width: 90%;
  margin: 0 auto;
}
#calculatorMain #closeCalcApp {
  font-size: 20px;
}
@media (min-width: 375px) {
  #calculatorMain .digit {
    width: 75px;
    height: 75px;
    margin: 10px;
  }
}
@media (min-width: 410px) {
  #calculatorMain .digit {
    margin: 15px;
  }
}
@media (min-width: 768px) {
  #calculatorMain {
    min-height: inherit;
  }
  #calculatorMain .digit {
    width: 100px;
    height: 100px;
  }
}
@media (hover: none), (hover: on-demand) {
  #listBtn:hover,
  .country:hover,
  #listBtn.primaryColor:hover,
  #calculatorMain .digit:hover {
    background-color: inherit;
    background: inherit;
    color: inherit;
  }
  #calculatorMain .percent:hover,
  #calculatorMain #closeCalcApp:hover,
  #calculatorMain #clear:hover {
    background: linear-gradient(45deg, #42B550, #2D7B36);
  }
  #listBtn:hover {
    padding: 5px 25px;
  }
  .country:hover {
    border-left: none;
    padding-left: 20px;
    color: #494F56;
  }
  #footer:hover {
    background-color: #B57A42;
  }
}
