<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>tip jar</title>
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <!-- build:css css/style.min.css -->
	<link rel="stylesheet" href="css/style.css">
  <!-- endbuild -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body id="body" class="animated fadeIn" ng-app="tipApp">

  <div id="banner">
    <div id="overlay"></div>
  </div>

  <div id="header">
    <h1 id="h1">TIP JAR</h1>
    <h3 id="h3">A globetrotting guide to gratuity</h3>
    <i id="globe" class="fa fa-globe"></i>
    <button id="listBtn">Choose a location</button>
  </div>

  <div id="main">
    <div id="tipData">
      <div ng-controller="tipDataCtrl">
        <ul id="countryList" class="fadeIn">
          <li ng-repeat="x in countryTipData">
            <a href="#body">
              <button type="button" class="country" ng-click="userSelection(x)">{{ x }}</button>
            </a>
          </li>
        </ul>
        <div id="countryTipData" class="animated fadeIn">
          <h2>{{ country }}</h2>
          <i class="fa fa-cutlery"></i>
          <h4 id="dining">Dining:</h4><p>{{ dining }}</p>
          <i class="fa fa-taxi"></i>
          <h4 id="transportation">Transportation:</h4><p>{{ transportation }}</p>
          <i class="fa fa-building"></i>
          <h4 id="accommodation">Accommodation:</h4><p>{{ accommodation }}</p>
					<i class="fa fa-money"></i>
					<h4 id="currency">Currency:</h4><p>1 USD = {{ conversion }} {{ currency }}</p>
          <i class="fa fa-language"></i>
          <h4 id="thankyou">Thank you:</h4><p>{{ thankyou }}</p>
          <h4 id="goodbye">Goodbye:</h4><p>{{ goodbye }}</p>
        </div>
      </div>
    </div>
  </div>

  <div id="footer">
    <a href="#body">
      <div id="calculator">
        <h4>CALCULATOR</h4>
      </div>
    </a>
  </div>
  <div id="calculatorApp"></div>

  <!-- build:js js/app.min.js -->
	<script src="js/app.js"></script>
  <!-- endbuild -->
  <!-- build:js js/controllers/tipCtrl.min.js -->
	<script src="js/controllers/tipCtrl.js"></script>
  <!-- endbuild -->
  <!-- build:js js/main.min.js -->
	<script src="js/main.js"></script>
  <!-- endbuild -->
  <!-- build:js js/calc.min.js -->
	<script src="js/calc.js"></script>
  <!-- endbuild -->
</body>
</html>
